<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cc.tongxundi"
    android:versionCode="2"
    android:versionName="20181208">

    <application
        android:name=".TXDApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activity.StartActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.VideoDesActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".WebActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.VideoPlayActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".PushPostActivity"
            android:screenOrientation="portrait">

        </activity>

         <activity android:name=".activity.ChatActivity"
             android:screenOrientation="portrait">

         </activity>

        <!-- service-->

        // 声明自定义通知的广播接收器（需要替换包名，详见注意事项）
        <receiver
            android:name="com.cc.tongxundi.im.receive.YuntxNotifyReceiver"
            android:exported="false">
            <intent-filter>
                // 接收push消息
                // action匹配规则{packageName + ".action" + "功能"}
                // com.yuntongxun.imdemo 替换成自己的报名
                // 以下三条action 可以根据自己需求来进行增删
                // 用于电话会议
                <action android:name="com.cc.tongxundi.im.action.VOIP_CALL" />
                // 用于IM消息
                <action android:name="com.cc.tongxundi.im.action.MESSAGE" />
                // 用于通知点击
                <action android:name="com.cc.tongxundi.im.action.NOTIFICATION_CLICK" />
            </intent-filter>
        </receiver>
        // 应用处理程序逻辑服务 name为YuntxNotifyReceiver的位置加 $NotifyService
        <service android:name="com.cc.tongxundi.im.receive.YuntxNotifyReceiver$NotifyService" />





    </application>
    <!--网络权限-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
       
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
       
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
       
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
       
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    // 开发者的 APP 接入时，请将 com.yuntongxun.imdemo 替换为自己的包名
    // 和下面的 uses-permission 一起加入到你的 AndroidManifest 文件中
    <permission
        android:name="com.cc.tongxundi.permission.RECEIVE_MSG"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.cc.tongxundi.permission.RECEIVE_MSG" />



</manifest>